<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="UUID" type="java.util.UUID"/>
        <typeAlias alias="UUIDTypeHandler" type="com.uuidtypehandlerdemo.infrastructure.typehandler.UuidTypeHandler"/>
    </typeAliases>

    <typeHandlers>
        <package name="com.uuidtypehandlerdemo.infrastructure.typehandler"/>
    </typeHandlers>
</configuration>